body{
  padding-top: 5%;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: cornsilk;
}
.App {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 500px;
  width: 700px;
  margin: auto;
  background-color: white;
  border: 1px solid black;
  padding:5%;
  position: relative;
}
.App>h1{
position: absolute;
top: 1%;
left:30%;
margin-top: 0;
margin-bottom: 0;
box-sizing: border-box;
}
/* .addUser>p{
  background-color: rgb(223, 218, 198);
  border: 1px solid black;
  height:20px;
  padding:2px;
  margin-top:5px;
} */

.App>p{
  padding: 2%;
  border: 1px solid black;
  background-color: rgb(172, 185, 207);
}
.buttons{
  margin-top:5px ;
  margin-left: auto;
  display: inline-block;
  background-color: black;
  color:white;

}
/* .addUser{
  padding:10px;
  height: 40px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  display: flex;
  justify-content:center;
  text-align: right;
  background-color: cornsilk;
} */

/* .deleteUser{
  padding:10px;
  height: 40px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  display: flex;
  justify-content:center;
  text-align: right;
  background-color: cornsilk;
}
.deleteUser>input{
  margin-right: 95px;
  width: 300px;
} */

.user-search-box{
  margin-top: 40px;
  margin-bottom: 10px;
  border: 1px solid black;
  opacity: 1;
}

.searchUser>input{
  margin-right: 95px;
  border-radius: 30px;
  outline: none;
  width: 300px;
  text-align: center;
}
.searchUser{
  padding:10px;
  height: 40px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content:center;
  text-align: right;
  position: absolute;
  top:10%;
  left:20%;
}
.button-search{

}
.button-delete{
  max-height: 20px;
  background-color: white;
  outline: none;
  border:none;
  margin-top: 4px;
}
.User-Update{
 overflow-y: auto;
 border:1px solid black;
 padding: 1px;
 max-height: 250px;
 height:250px;
}

.user-container{
  display: flex;
  height:60px;
  text-align: center;
  justify-content: space-between;
  border:1px solid black;
  background-color: white;
  margin: 5px;
  position: relative;
}
.user-details{
  display: flex;
  padding: 2px;
  justify-content: left;
  text-align: left;
  flex-direction: column;
  position: absolute;
  left:8%;
  top:4%;
}
.user-address{
  margin-top: 15px;
}
.user-image{
  position: relative;
}

.user-image>img{
  border:2px solid white;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 4px;
  left:1px;
}